
statusBoolean {
  color: maroon;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
}

scoreUpdate {
  background-color: white;
  font-size: 12px;
}

ul {
  list-style-type: none;
  background-color: #F4B100;
  padding: 20px;

}
